body{
    background-color: rgb(214, 245, 245);
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
}

.topo{
    height: 30px;
    text-align: center;
    margin: 50px;
}

img{
    height: 300px; 
}

.capa{
    text-align: center;
    margin: 40px;
    background-color: white;
}

section{
    text-align: center;
    margin: 50px;
    background-color: white;
}

h1, h2{
    color:aqua;
}

p{
    margin-left: 50px;
    margin-right: 50px;
}


